.content {
  max-width: min(112rem, 90%);
}

#room header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#room header .buttons {
  display: flex;
}

#room header .buttons .button:first-child {
  margin-right: .8rem;
  padding: 1.3rem 1.6rem;
}

#room header .buttons .button:last-child {
  padding: 1.3rem 3.2rem;
}

#room header .buttons .button img {
  width: 2rem;
  height: 2rem;
}

#room header .buttons .button:first-child img {
  margin-right: 0;
  margin-left: 1rem;
}

#question-form h2 {
  font: 700 2.8rem var(--poppins);
  color: var(--black);
  line-height: 4.2rem;
  margin-bottom: 2.4rem;
}

#question-form form {
  padding: 1.6rem;
  border: .2rem solid var(--gray-blue);
  border-radius: 0 .8rem .8rem .8rem;
  margin-bottom: 1.6rem;
}

#question-form form textarea {
  width: 100%;
  background: transparent;
  resize: none;
  outline: none;
}

#question-form form textarea::placeholder {
  color: var(--gray-blue);
}

#question-form form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#question-form form footer > div {
  display: flex;
  align-items: center;
  gap: .9rem;
  font: 400 1.4rem var(--poppins);
  color: var(--icons-details);
}

#question-form form footer button {
  height: 4rem;
  padding: 0 2.4rem;
}

.question-wraper {
  background: var(--light-blue);
  margin-bottom: .8rem;
  padding: 2.4rem;
  border-radius: 0 .8rem .8rem .8rem;
}

.question-wraper .question-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.2rem;
}

.question-wraper .actions,
.question-wraper .actions > a {
  display: flex;
  align-items: center;
}

.question-wraper .question-content .user {
  background: var(--blue);
  clip-path: circle();
  padding: 1.4rem;
}

.question-wraper .question-content p {
  margin-left: 1.6rem;
  word-break: break-all;
  display: flex;
  align-items: center;
  min-height: 5.6rem;
}

.question-wraper .actions {
  justify-content: flex-end;
  gap: 2.4rem;
}

.question-wraper .actions a {
  color: var(--gray-dark);
}

.question-wraper .actions a > img {
  margin-right: .8rem;
}

.question-wraper.read {
  background: rgba(77, 94, 119, .1);
}

.question-wraper.read .question-content .user {
  background: var(--gray-blue);
}

.no-questions {
  width: 28rem;
  margin: 5.2rem auto;
  text-align: center;
}

.no-questions p:nth-child(2) {
  margin: 1.3rem 0;
  font: 700 1.8rem var(--poppins);
  color: var(--black);
}

.no-questions p:nth-child(3) {
  font-size: 1.4rem;
  color: var(--gray-blue);
  line-height: 2.2rem;
}
